.panel.panel-default{id: "tra" + @reg.to_s}
  .panel-heading
    %h4.panel-title
      %a{"data-parent" => "#accordion-tr", "data-toggle" => "collapse", href: "#collapse"+@reg.to_s+"-2"}
        %i.fa.fa-fw.fa-plus-circle.txt-color-green
        %i.fa.fa-fw.fa-minus-circle.txt-color-red
        Capacitación N°1
      %a{href: "javascript:delete_item1('"+ @reg.to_s+"')", "style"=>"  width: 50px; float: right; color: white; background: #2070a8; "}(class="btn") X
  .panel-collapse.collapse.in{ 'id'=> "collapse" + @reg.to_s + "-2"}
    .panel-body
      .row
        .col-sm-4
          %label Tipo de capacitación
          %br
          %select.form-control{name: "professional[trainings_attributes][" + @reg.to_s + "][type_training]"}
            %option{value: "Curso"} Curso
            %option{value: "Diplomado"} Diplomado
            %option{value: "Doctorado"} Doctorado
            %option{value: "Maestría"} Maestría
        .col-sm-6
          %label Nombre de curso
          %br
          .input-group
            %input.form-control{ name:"professional[trainings_attributes][" + @reg.to_s + "][name_training]", placeholder: "Nombre del curso", html: { class: 'form-control' }}
            %span.input-group-addon
              %i.fa.fa-book.fa-sm.fa-fw
      %br          
      .row
        .col-sm-4
          %label Fecha de Inicio
          .input-group
            %input#start.form-control{ name:"professional[trainings_attributes][" + @reg.to_s + "][start_training]",as: :string, type: "date"}/
            %span.input-group-addon
              %i.fa.fa-calendar
        .col-sm-4
          %label Fecha de Termino
          .input-group
            %input#finish.form-control{ name:"professional[trainings_attributes][" + @reg.to_s + "][finish_training]", as: :string, type: "date"}/
            %span.input-group-addon
              %i.fa.fa-calendar
        
        .col-sm-4
          %label Número de horas
          .input-group
            %span.input-group-addon
              %i.icon-append.fa.fa-book
            %input.form-control{ name:"professional[trainings_attributes][" + @reg.to_s + "][num_hours]", placeholder: "Número de horas", input_html: { class: 'form-control' }}
      
      %br
      %fieldset
        %legend Archivos a Adjuntar
        .row
          .col-sm-6
            %label.col-sm-2 Certificado
            .col-sm-10
              .button
                = file_field_tag "professional[trainings_attributes][" + @reg.to_s + "][training]", class: 'btn btn-default', label: false, onchange: "this.parentNode.nextSibling.value = this.value", as: "file"
:javascript
  function delete_item(code){
    $("#tr1" + code).remove();
  }