.span4
  .group-bar
    %strong{style: "padding-left: 10px; font-size: 12px;"} Presupuestos Venta
  .individual-panel
    %table.table-bordered.table-hover.white-table.small-font{width: "100%"}
      %tbody
        - @budgets.each do |budget|
          %tr
            %td
              %a.small-font{href: "#"}
                = budget.description
            %td
              %strong
                = budget.cod_budget
            %td
            %td
              %a{href: "javascript:load_url_ondiv('#{show_form_management_distribution_path(budget.id)}?project_id=#{@cost_center_id}', 'content-load');"}
                %i.icon-upload
.span8
  .group-bar
    %strong{style: "padding-left: 10px; font-size: 12px;"} Programado
  .row-fluid
    .span12
      .content-load
