- if @distribution.nil?
  =form_tag do_import_management_distributions_path, multipart: true do
    = hidden_field_tag 'cost_center_id', @cost_center_id
    = file_field_tag :file  
    = submit_tag "Importar"
  %span *Subir el archivo en format CSV
- else
  %h2 Ya se cargó el archivo correctamente.