#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Sector
  %div
    .jarviswidget-editbox
    .widget-body
      - if @action == 'edit'
        = simple_form_for(@Sectors, url: logistics_sector_path, :method => :patch, html: {class: 'form-horizontal' }) do |f|
          %fieldset
            %legend Ingrese Sector
            .form-group
              %label.col-md-2.control-label{for: "name"} Nombre
              .col-md-10
                = f.input :name, placeholder: "Nombre del sector", :input_html => {:class => 'form-control'}, label: false
          .form-actions
            .row
              .col-md-12
                %button.btn.btn-primary{type: "submit"}
                  %i.fa.fa-save
                    Guardar
      - else
        = simple_form_for(@Sectors, url: logistics_sectors_path, html: {class: 'form-horizontal' }) do |f|
          %fieldset
            %legend Ingrese Sector
            .form-group
              %label.col-md-2.control-label{for: "name"} Nombre
              .col-md-10
                = f.input :name, placeholder: "Nombre del sector", :input_html => {:class => 'form-control'}, label: false
          .form-actions
            .row
              .col-md-12
                %button.btn.btn-primary{type: "submit"}
                  %i.fa.fa-save
                    Guardar