#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2
      = "Lista de Ordenes de Suministros"
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      .widget-body-toolbar
      %table.summary-delivery-orders.table.table-striped.table-bordered.table-hover#dt_basic
        %thead
          %tr
            %th Código
            %th{'style' => 'width:120px !important;'}
              Estado
            %th Descripcion
            %th Fecha de Emisión
            %th Fecha Programada
            %th Responsable
            %th Acciones
        %tbody{ :id => "body-summary-delivery-orders" }