#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-5
  #widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-12
        = render :partial => 'form'

%button.btn.btn-sm.btn-primary.btn-prev#backlist-delivery-order{type: "button"}
  %i.fa.fa-arrow-left>
  Retornar al listado de Ordenes de Suministro

:javascript
  $('#backlist-delivery-order').click(function(){
    load_url_ajax("#{logistics_delivery_orders_path}", 'content', {company_id: "#{@company}"}, null, 'GET');
  });