%tr(class="health_center_item"){id: "tr" + @reg_n.to_s}
  %td.bank-id(style="display:none")
    = hidden_field_tag 'worker[worker_healths_attributes][' + @reg_n.to_s + '][health_id]', @id_health_center.to_i
  %td.col-2
    = @enterprise
  %td{:style => "width: 1%;"}
    %a{href: "javascript:delete_item('"+@reg_n.to_s+"')"}(class="btn") X