#content-inside
	.row
		.col-xs-12
			%h1.page-title.txt-color-blueDark
				%i.fa.fa-pencil-square-o.fa-fw
				Centros de Costos
			-	if flash[:notice] !=nil
				.alert.alert-success.fade.in{"style" => "clear:both"}
					%button.close{"data-dismiss" => "alert"}
						x
					%i.fa-fw.fa.fa-check
					%strong Exito
					= flash[:notice]
			-	if flash[:error] != nil
				.alert.alert-danger.fade.in
					%button.close{"data-dismiss" => "alert"}
						x
					%i.fa-fw.fa.fa-check
					%strong Error!
					= flash[:error]
	.row
		.col-sm-4
			.well
				%a.btn.btn-primary.btn-lg{:href => "##{new_logistics_cost_center_path}"}
					Agregar Centro de Costo
	#widget-grid
		.row
			%article.col-xs-12
				= render :partial => 'table'
>>>>>>> 011f18f2cde719433daf750feba7edcf41f7938a
