#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2 Lista de Ordenes de Servicio
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      .widget-body-toolbar
      %table#summary-purchase-orders.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Código
            %th{'style' => 'width:120px !important;'}
              Estado
            %th Descripcion
            %th Proveedor
            %th Fecha del ultimo Estado
            %th Fecha de Emisión
            %th Responsable
            %th Acciones
        %tbody{ :id => "body-summary-service-orders" }