#content-inside
  #widget-grid 
    %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
      .row
        %article.col-sm-12
          #wid-id-0.jarviswidget.jarviswidget-color-purple{"data-widget-colorbutton" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false", "data-widget-togglebutton" => "false"}
            %header
              %h2 Compañias
            / widget div
            %div
              / widget edit box
              .jarviswidget-editbox
                / This area used as dropdown edit box
              / end widget edit box
              / widget content
              .widget-body
                %ul.bs-glyphicons
                  -@companies.each do |company|
                    %li
                      %i.fa.fa-truck.fa-lg
                      %br
                      %br
                      %a.glyphicon-class{:onclick => "javascript:load_url_ajax('#{index_app_logistics_main_index_path}', 'content', null, null, 'GET')"}
                        = company.name
                      %br  
                      %span.glyphicon-class
                        RUC:
                        
                        =company.ruc