#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-check
    %h2 Certificado
  %div{:style => 'overflow:hidden'}
    = render :partial => 'form'

%button.btn.btn-sm.btn-primary.btn-prev#backlist-pros{type: "button"}
  %i.fa.fa-arrow-left>
  Retornar al listado de Certidicados

:javascript
  $(document).ready(function(){
    $('#backlist-pros').click(function(){
      load_url_ajax("#{biddings_other_works_path}", 'content', {pro_id: '#{@pro_id}'}, null, 'GET');
    });
  });