.row
  / SuperBox
  .superbox.col-sm-12
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-1.jpg", src: "img/superbox/superbox-thumb-1.jpg", title: "Miller Cine"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-2.jpg", src: "img/superbox/superbox-thumb-2.jpg", title: "Bridge of Edgen"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-3.jpg", src: "img/superbox/superbox-thumb-3.jpg", title: "Lines of Friendship"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-4.jpg", src: "img/superbox/superbox-thumb-4.jpg", title: "My new car!"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-5.jpg", src: "img/superbox/superbox-thumb-5.jpg", title: "Study Time"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-6.jpg", src: "img/superbox/superbox-thumb-6.jpg", title: "San Francisco Bridge"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-7.jpg", src: "img/superbox/superbox-thumb-7.jpg", title: "New Styla"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-8.jpg", src: "img/superbox/superbox-thumb-8.jpg", title: "Cristpta"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-9.jpg", src: "img/superbox/superbox-thumb-9.jpg", title: "Cristine Dine"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-10.jpg", src: "img/superbox/superbox-thumb-10.jpg", title: "Mosaic Clock"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-11.jpg", src: "img/superbox/superbox-thumb-11.jpg", title: "Elegance"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-12.jpg", src: "img/superbox/superbox-thumb-12.jpg", title: "China Town"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-13.jpg", src: "img/superbox/superbox-thumb-13.jpg", title: "Sky Diving"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-14.jpg", src: "img/superbox/superbox-thumb-14.jpg", title: "Country Music"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-15.jpg", src: "img/superbox/superbox-thumb-15.jpg", title: "You are late!"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-16.jpg", src: "img/superbox/superbox-thumb-16.jpg", title: "Royal Bengle Tiger"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-17.jpg", src: "img/superbox/superbox-thumb-17.jpg", title: "Snowpine"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-18.jpg", src: "img/superbox/superbox-thumb-18.jpg", title: "Hop Jop Mop"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-19.jpg", src: "img/superbox/superbox-thumb-19.jpg", title: "Party Girls"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-20.jpg", src: "img/superbox/superbox-thumb-20.jpg", title: "Dragon Fly"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-21.jpg", src: "img/superbox/superbox-thumb-21.jpg", title: "Kinds Road"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-22.jpg", src: "img/superbox/superbox-thumb-22.jpg", title: "Tokyo"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-23.jpg", src: "img/superbox/superbox-thumb-23.jpg", title: "Rome"}/
    /
    .superbox-list
      %img.superbox-img{alt: "My first photoshop layer mask on a high end PSD template theme", "data-img" => "img/superbox/superbox-full-24.jpg", src: "img/superbox/superbox-thumb-24.jpg", title: "Traning"}/
    .superbox-float
  / /SuperBox
  .superbox-show{style: "height:300px; display: none"}
