#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2 Lista de Horas Totales por Semana
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      .widget-body-toolbar
      %table#dt_basic.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{:style=>"width: 20%"} Semana
            %th{:style=>"width: 20%"} Inicio
            %th{:style=>"width: 20%"} Fin
            %th{:style=>"width: 20%"} Horas Totales
            %th{:style=>"width: 20%"} Acciones
        %tbody