#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Componente
  .widget-body
    = simple_form_for([:biddings, @workPartner], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        .row
          %section.col.col-10
            %label.label Nombre
            %label.input{for: "name"}
              %i.icon-append.fa.fa-user
              = f.input :name, placeholder: "Nombre del Socio", input_html: { class: 'form-control' }, label: false
          %section.col.col-10
            %label.label RUC
            %label.input{for: "ruc"}
              %i.icon-append.fa.fa-user
              = f.input :ruc, placeholder: "RUC del Socio", input_html: { class: 'form-control' }, label: false
          %section.col.col-10
            %label.label Dirección
            %label.input{for: "address"}
              %i.icon-append.fa.fa-user
              = f.input :address, input_html: { class: 'form-control' }, label: false
      %footer
        %button.btn.btn-primary{type: "submit"}
          %i.fa.fa-save
            Guardar

:javascript
  $(document).ready(function () {
    $("#work_partner_name").focus();

    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }
    else{
      submit_validate($('#new_work_partner'));
    }
  });
  
  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'work_partner[name]' : {
              required : true
            },
            'work_partner[ruc]' : {
              required : true
            }
          },

          // Messages for form validation
          messages : {
            'work_partner[name]' : {
              required : 'Porfavor, ingresar el nombre del Socio'
            },
            'work_partner[ruc]' : {
              required : 'Porfavor, ingresar el ruc del Socio'
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
      },
      error: function(xhr, status, error) {
      }
    });
  }