#content-inside
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-7
      %h2.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw  
        Registrar Cobro
  = render :partial => "form"