.modal-dialog{ style: "width: 750px;" }
	.modal-content
		.modal-header
			%header
				%h2
					%span.widget-icon
						%i.fa.fa-pencil-square-o.fa-fw 
					%strong Lista de Préstamos
		.modal-body
			%table.table.table-striped.table-bordered.table-hover.smart-form{"style"=>"width:300px;margin-left:29%;"}
				%thead
					%tr
						%td{"colspan"=>2,"style"=>"text-align:center"} RESUMEN
				%tbody
					%tr
						-suma1=0
						-@presto.each do |presto|
							-suma1+=presto.amount
						%td PRESTO S/. (PENDIENTE)
						%td=suma1
					%tr
						-suma2=0
						-@prestaron.each do |prestaron|
							-suma2+=prestaron.amount
						%td LE PRESTARON S/. (PENDIENTE)
						%td=suma2
					%tr
						%td RESULTADO
						%td=suma1-suma2
			%h2 PRESTO
			%table.table.table-striped.table-bordered.table-hover.smart-form
				%thead
					%tr
						%th Beneficiario
						%th Total
						%th Devuelto
						%th Pendiente
				%tbody
					-@presto.each do |presto|
						%tr
							%td=CostCenter.find(presto.cost_center_beneficiary_id).name
							%td=presto.amount
							%td 
							%td     
			%br
			%h2 LE PRESTARON
			%table.table.table-striped.table-bordered.table-hover.smart-form
				%thead
					%tr
						%th Beneficiario
						%th Total
						%th Devuelto
						%th Pendiente
				%tbody
					-@prestaron.each do |prestaron|
						-if !prestaron.id.nil?
							%tr
								%td=CostCenter.find(prestaron.cost_center_lender_id).name
								%td=prestaron.amount
								%td 
								%td        

			%footer
				%br
				%button.btn.btn-primary.btn-mini
					%span{"style"=>"width=20px;text-align:center"}
						%a{href: 'javascript:void(0);', :onclick => 'loan_new('+"#{@cc.id.to_s}"+');', "style"=>" color: white; "}
							Agregar Préstamo
				%button.btn.btn-info#new{"data-dismiss" => "modal", type: "button","style"=>"float:right;"}
					Salir      