#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Unidad de Medida
  .widget-body
    = simple_form_for([:logistics, @unitOfMeasure], html: {class: 'form-horizontal smart-form' }) do |f|
      %fieldset
        .row
          %section.col.col-6
            %label.label Código
            %label.input{for: "code"}
              %i.icon-append.fa.fa-superscript
              = f.input :code, placeholder: "Código", input_html: { class: 'form-control' }, label: false
          %section.col.col-6
            %label.label Nombre
            %label.input{for: "text-field"}
              %i.icon-append.fa.fa-user
              = f.input :name, placeholder: "Nombre de la unidad", input_html: { class: 'form-control' }, label: false
        .row
          %section.col.col-6
            %label.label Símbolo
            %label.input{for: "text-field"}
              %i.icon-append.fa.fa-sort-alpha-asc
              = f.input :symbol, placeholder: "Simbolo", input_html: { class: 'form-control' }, label: false
      %footer
        %button.btn.btn-primary{type: "submit"}
          %i.fa.fa-save 
          Guardar

:javascript
  $(document).ready(function () {
    $("#unit_of_measurement_code").focus();
    
    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }
    else{
      submit_validate($('#new_unit_of_measurement'));
    }
  });

  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'unit_of_measurement[code]' : {
              required : true,
              minlength : 2,
              maxlength : 2
            },
            'unit_of_measurement[name]' : {
              required : true,
            },
            'unit_of_measurement[symbol]' : {
              required : true,
            }
          },

          // Messages for form validation
          messages : {
            'unit_of_measurement[code]' : {
              required : 'Porfavor, ingresar el código de la Unidad',
              minlength : "Como mínimo debe tener 2 dígitos.",
              maxlength : "Como máximo debe tener 2 dígitos.",
            },
            'unit_of_measurement[name]' : {
              required : 'Porfavor, ingresar el nombre de la Unidad.'
            },
            'unit_of_measurement[symbol]' : {
              required : 'Porfavor, ingresar el símbolo de la Unidad.'
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        return $(form['selector']).valid();
      },
      target: '#content'
    });
  }