%h3 Articulos faltantes en la base de datos.

%table.table.table-hover
  %thead
    %tr
      %th
        Codigo del articulo 
      %th
        Descripcion
  %tbody
    -@res.each do |r|
      %tr
        %td
          = r.first['codInsumo'] rescue ''
        %td
          = r.first['descripcion'] rescue ''

