/[if IE 9]
  <style>
  \.error-text {
  color: #333 !important;
  }
  </style>
/ row
.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    .row
      .col-sm-12
        .text-center.error-box
          %h1.error-text.tada.animated
            %i.fa.fa-times-circle.text-danger.error-icon-shadow
            Error 500
          %h2.font-xl
            %strong Oooops, Something went wrong!
          %br/
          %p.lead.semi-bold
            %strong You have experienced a technical error. We apologize.
            %br/
            %br/
            %small
              We are working hard to correct this issue. Please wait a few moments and try your search again.
              %br/
              In the meantime, check out whats new on SmartAdmin:
          %ul.error-search.text-left.font-md
            %li
              %a{href: "javascript:void(0);"}
                %small
                  Go to My Dashboard
                  %i.fa.fa-arrow-right
            %li
              %a{href: "javascript:void(0);"}
                %small
                  Contact SmartAdmin IT Staff
                  %i.fa.fa-mail-forward
            %li
              %a{href: "javascript:void(0);"}
                %small Report error!
            %li
              %a{href: "javascript:void(0);"}
                %small Go back
/ end row
:javascript
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  // pageSetUp();

  // PAGE RELATED SCRIPTS
  $("#search-error").focus();