
.row-fluid
  %div(class="span2")
  %div(class="span8 side-panel ")
    %p(style="color: red;")
      = flash[:error]
    %h5
      Seleccione un Proyecto
    %hr
    %center
      .container-projects
        %ul
          - @projects.each do |project|
            %li
              %a{:href => management_dashboard_path + "?project=" + project.id.to_s}
                = image_tag("planner.png", :width=> "64px")
                = project.name
          %li
            %a{:href=>"javascript:load_url_ondiv('" + new_management_project_path.to_s + "\', 'container-projects');"}(style="padding-top: 20px;")
              = image_tag("add-icon.png", :width=> "24px")
              Crear Proyecto
  %div(class="span2")