%tr
  %tr
    %td Partidas
  %tr
    - @sector.each do |sector|
      %td
        = sector.name

- @items.each do |item|
  %tr
    %td
      = item.description
  %tr
    - @sector.each do |sector|
      %td
        %input(type: "hidden"){value: sector, id: "data_s" + item.id.to_s + sector.id.to_s, name: "input_sector" + item.id.to_s + sector.id.to_s, value: sector.id.to_s }
        %input(type: "hidden"){value: sector, id: "data_i" + item.id.to_s + sector.id.to_s, name: "input_item" + item.id.to_s + sector.id.to_s, value: item.id.to_s  }
        %input(type: "hidden"){value: sector, id: "data_c" + item.id.to_s + sector.id.to_s, name: "input_cc" + item.id.to_s + sector.id.to_s, value: @cost_center.id.to_s}
        %input{name: "val_" + item.id.to_s + sector.id.to_s}


:javascript

  function update_sector(id_sector, id_item, id_cost_center){
    
  }