=# @input_budget_item_sale.inspect
=# @input_budget_item_goal.inspect

%table(class="table table-bordered table-hover table-condensed white-table" width="100%")
  %thead
    %th
      Codigo
    %th
      Nombre
    %th
      Presupuesto Meta
    %th
      Presupuesto Venta
  %tbody
    - @input_budget_item_sale.each do |key, item|
      %tr
        %td
          = item[1]
        %td
          = item[0]
        %td(style="text-align: right;")
          = number_to_currency(item[2], :unit=>'S/. ')
        %td(style="text-align: right;")
          = number_to_currency(@input_budget_item_goal[key][2], :unit=>'S/. ')

