#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2 Consulta de Kárdex
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      %table#dt_basics.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{'style' => 'width: 10%;'}
              Almacén
            %th{'style' => 'width: 6%;'}
              Codigo
            %th{'style' => 'width: 8%;'}
              Descripción
            %th{'style' => 'width: 4%;'}
              Unidad
            %th{'style' => 'width: 5%;'}
              Cantidad (+)
            %th{'style' => 'width: 5%;'}
              Costo Unitario (+)
            %th{'style' => 'width: 5%;'}
              Costo (+)
            %th{'style' => 'width: 5%;'}
              Cantidad (-)
            %th{'style' => 'width: 5%;'}
              Costo Unitario (-)
            %th{'style' => 'width: 5%;'}
              Costo (-)
        %tbody{ :id => "body-report-kardex-summary" }