#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2 Consulta de Ingresos a Almacén
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      .widget-body-toolbar
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{'style' => 'width: 10%;'}
              Almacén
            %th{'style' => 'width: 10%;'}
              Proveedor
            %th{'style' => 'width: 5%;'}
              Periodo
            %th{'style' => 'width: 7%;'}
              Fecha
            %th{'style' => 'width: 5%;'}
              Moneda
            %th{'style' => 'width: 10%;'}
              Documento
            %th{'style' => 'width: 10%;'}
              Formato
            %th{'style' => 'width: 10%;'}
              Codigo
            %th{'style' => 'width: 8%;'}
              Descripción
            %th{'style' => 'width: 4%;'}
              Unidad
            %th{'style' => 'width: 5%;'}
              Cantidad
        %tbody{ :id => "body-report-stock-input-detail" }