#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      .widget-body-toolbar
      %table#summary-purchase-orders.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th #id
            %th Nombre
            %th #Valorizacion
            %th Fecha
            %th Estado
            %th Acciones