= simple_form_for @unit, :html => {:class => 'form-horizontal'} do |f|
  %fieldset
    %legend
      Nueva Unidad
    
    .control-group
      %label(class="control-label")
        Simbolo
      .controls
        = f.input :symbol, label: false, input_html: {class: "form-control"}
    .control-group
      %label(class="control-label")
        Nombre
      .controls
        = f.input :name, label: false, input_html: {class: "form-control"}
  .form-actions
    %a{href: "javascript:post_to_url_class('" + units_path  + "','unit', 'right-area')", class: "btn btn-success"}
      Guardar
    %a(href="#"){class: "btn btn-danger"}
      Cancelar