#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2 Lista de Ordenes de Compra
    %input#state{"style"=>"display:none"}
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      .widget-body-toolbar
        .btn-group{:style=>"margin-left:80%"}
          %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"} Filtar por Estado
          %ul.dropdown-menu#li-estado{:role => "menu"}
            %li
              %a#todos{:href => "javascript:void(0)", :onclick =>"filtro();"} Todos         
            %li
              %a#pre_issued{:href => "javascript:void(0)", :onclick =>'filtro("pre_issued");'} Pre-Emitido
            %li
              %a#issued{:href => "javascript:void(0)", :onclick =>'filtro("issued");'} Emitido
            %li
              %a#observed{:href => "javascript:void(0)", :onclick =>'filtro("observed");'} Observado
            %li
              %a#revised{:href => "javascript:void(0)", :onclick =>'filtro("revised");'} Revisado
            %li
              %a#approved{:href => "javascript:void(0)", :onclick =>'filtro("approved");'} Aprobado
            %li
              %a#canceled{:href => "javascript:void(0)", :onclick =>'filtro("canceled");'} Cancelado       
      %table#summary-purchase-orders.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Código
            %th{'style' => 'width:120px !important;'}
              Estado
            %th Descripcion
            %th Proveedor
            %th Fecha del ultimo Estado
            %th Fecha de Expiración
            %th Responsable
            %th Acciones
        %tbody{ :id => "body-summary-purchase-orders" }        
