- @inputs.each do |int|
  %tr
    %td= int.code
    %td= int.name
    %td
      %table(class="table-hover white-table small-font table-light" width="100%")
        - InputUnit.where(input_id: int.id).each do |inpunit|
          %tr
            %td= int.code.to_s + inpunit.code.to_s
            %td= inpunit.unit.name rescue " "
    %td
      %a{href: "#"}
        Eliminar