#content
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw 
        Adelantos
  #widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-8
        %a{:href=>"javascript:reg_advance()"}(class="btn btn-success btn-small")
          Registrar Adelanto
        %br
        %br
        %table(class="white-table table-bordered table table-condensed" style="width: 100%;")
          %thead 
            %th
              Tipo de Adelanto
            %th
              N° de Adelanto
            %th
              ="% de Costo Directo"
            %th
              Monto
            %th
              Fecha de Pago
            %th
              Acciones
          = render :partial => "table"

:javascript
  function reg_advance(){
  	load_url_ondiv("#{new_administration_advance_path}", 'right-area')
  }
