#content-inside
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
  #widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-12
        = render :partial => 'form'

  %button.btn.btn-sm.btn-primary.btn-prev#backlist{type: "button"}
    %i.fa.fa-arrow-left>
    Retornar al listado de Partes de Equipos

:javascript

  $('#backlist').click(function(){
      load_url_ajax("#{production_part_of_equipments_path}", 'content', {company_id: '#{@company}'}, null, 'GET');
  });