
=simple_form_for [:management, @costcenter], :html => {:class => 'form-horizontal'} do |f|
  .fieldset
    %legend
      Nuevo Proyecto
    .control-group
      %label(class="control-label") Nombre del Proyecto
      .controls
        = f.input :name, label: false, placeholder: 'Nombre del Proyecto'
    
    .form-actions
      = f.button :submit, value: 'Crear nuevo proyecto', class: "btn btn-success"
      %a(href="#"){class: "btn btn-danger"}
        Cancelar