#wid-id-0.jarviswidget.jarviswidget-color-blueDark{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2
      = 
  %div
    .jarviswidget-editbox
    .widget-body
      %table.table.table-bordered
        %thead
          %tr
            %th Column name
            %th Column name
            %th Column name
            %th Column name
        %tbody
          %tr
            %td Row 1
            %td Row 2
            %td Row 3
            %td Row 4