#content-inside
  %button.btn.btn-sm.btn-primary.btn-prev#backlist{type: "button"}
    %i.fa.fa-arrow-left>
    Retornar al listado de Categorias del Trabajador

:javascript

  $('#backlist').click(function(){
      load_url_ajax("#{production_category_of_workers_path}", 'content', {company_id: '#{@company}'}, null, 'GET');
  });