#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw
        Ordenes de Compra
      %div
        .smart-form
          %section
            %label.select
              %select{ 'name' => 'cost_center_id', 'id' => 'cost-center-selected' }
                - @cost_center.each do |cc|
                  %option{'value' => "#{cc.id}"}= cc.name
              %i
        %button{'id' => 'search-by-cost-center', 'class' => 'btn btn-success'}
          %i{'class' => 'fa fa-check'}
          Buscar Ordenes de Suministro
  .row
  #widget-grid
    .row
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        %br
        #items-delivery-orders

:javascript
  $('#search-by-cost-center').click(function(){
    cost_center_id = $('#cost-center-selected').val();
    url = "/logistics/purchase_orders/" + cost_center_id + "/show_delivery_order_item_field";
    data = { authenticity_token: "#{form_authenticity_token}" }
    load_url_ajax(url, 'items-delivery-orders', data, 'avoid-opacity', 'POST');
  });