#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Método de Pago
  .widget-body
    = simple_form_for([:logistics, @methodOfPayments], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        .row
          %section.col.col-sm-12
            %label.label Nombre
            %label.input{for: "text-field"}
              %i.icon-append.fa.fa-user
              = f.input :name, placeholder: "Nombre del Método de Pago", input_html: { class: 'form-control' }, label: false
        .row
          %section.col.col-sm-4
            %label.label Abreviado
            %label.input{for: "text-field"}
              %i.icon-append.fa.fa-sort-alpha-asc
              = f.input :symbol, placeholder: "Abreviado", input_html: { class: 'form-control' }, label: false
      %footer
        %button.btn.btn-primary{type: "submit"}
          %i.fa.fa-save 
          Guardar

:javascript
  $(document).ready(function () {
    $("#method_of_payment_name").focus();
    
    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }
    else{
      submit_validate($('#new_method_of_payment'));
    }
  });

  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'method_of_payment[name]' : {
              required : true,
            }
          },

          // Messages for form validation
          messages : {
            'method_of_payment[name]' : {
              required : 'Por favor, ingresar el nombre del método de pago.'
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
      },
      error: function(xhr, status, error) {
      }
    });
  }