.modal-dialog{"style"=>"width: 100%"}
  .modal-content
    .modal-body
      .row
        .col-xs-12.col-sm-7.col-md-7.col-lg-9
          %h2.page-title.txt-color-blueDark
            %i.fa.fa-pencil-square-o.fa-fw 
            ="Lista de Gastos Diversos de Gestion de: "+@cc.name
          - if flash[:notice] !=nil
            .alert.alert-success.fade.in{"style" => "clear:both"}
              %button.close{"data-dismiss" => "alert"}
                x
              %i.fa-fw.fa.fa-check
              %strong Exito
              = flash[:notice]
          - if flash[:error] != nil
            .alert.alert-danger.fade.in
              %button.close{"data-dismiss" => "alert"}
                x
              %i.fa-fw.fa.fa-check
              %strong Error!
              = flash[:error]
        .col-sm-1{"style"=>"margin-top:10px;"}
          %button.btn.btn-primary.btn-mini
            %span{"style"=>"width=20px;text-align:center"}
              %a{href: 'javascript:void(0);', :onclick => 'gdg_new('+"#{@cc.id.to_s}"+');', "style"=>" color: white; "}
                Añadir Gasto
      %br
      .row
        #widget-grid
          %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
            = render :partial => 'table'

      %br
      .row
        #table_detail.col-md-12

      %br

      %footer
        %button.btn.btn-info{"data-dismiss" => "modal", type: "button"}
          Salir