.t_feo
  .row
    .col-md-12
      %a{href: "javascript:load_url_ondiv('#{feo_of_work_administration_inputcategories_path}', 'right-area');", class: "btn btn-info"} Feo de Obra
      %a{href: "javascript:load_url_ondiv('#{feo_of_work_wbs_administration_inputcategories_path}', 'right-area');", class: "btn btn-info"} Feo de Obra por Fases

  .row.feo-load
    .col-md-12
      = render :partial => "table_feo"

:javascript
  $(".feo-load").height($(document).height() -150 );